In [5]:
#Import bs4
from bs4 import BeautifulSoup
import requests

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [ ]:
print(soup.prettify())

In [21]:
table = soup.find_all('table')[0]

In [ ]:
print(table.prettify())

In [31]:
#find the first 7 table headings
world_titles = table.find_all('th')[0:8]
#world_titles = table.find_all('th')
print(world_titles)

[<th rowspan="2" scope="col">Rank
</th>, <th rowspan="2" scope="col">Name
</th>, <th rowspan="2" scope="col">Industry
</th>, <th scope="col">Revenue
</th>, <th scope="col">Profit
</th>, <th rowspan="2" scope="col">Employees
</th>, <th rowspan="2" scope="col">Headquarters<sup class="reference" id="cite_ref-4"><a href="#cite_note-4">[note 1]</a></sup>
</th>, <th rowspan="2" scope="col"><a href="/wiki/State-owned_enterprise" title="State-owned enterprise">State-owned</a>
</th>]

In [32]:
# loop through the table headings and print them out
world_table_titles = [title.text.strip() for title in world_titles]

print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters[note 1]', 'State-owned']

In [35]:
# world table title headquarters has a sup tag, so we need to remove it
world_table_titles[6] = 'Headquarters'
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters', 'State-owned']

In [36]:
import pandas as pd

In [54]:
# create a dataframe with the column names
df = pd.DataFrame(columns=world_table_titles)
# print(df)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue, Profit, Employees, Headquarters, State-owned]
Index: []

In [ ]:
# find all the rows in the table
column_data = table.find_all('tr')[1:]
print(column_data)

In [150]:
# Assuming column_data contains the rows of the table
for row in column_data:
    # Check if the row contains the unwanted 'th' tags
    if row.find('th', {'colspan': '2', 'scope': 'col'}):
        continue # Skip this row and continue to the next row

    # Extracting the rank from the first column (th tag)
    rank = row.find('th').text.strip()

    # Extracting data from the rest of the columns (td tags)
    row_data = row.find_all('td')[0:7]

    # Extracting data from the image tag in the last column
    last_column_data = row_data[-1]
    image_tag = last_column_data.find('img')
    if image_tag:
        alt_text = image_tag.get('alt', '')
        title_text = image_tag.get('title', '')
        last_column_value = alt_text or title_text
    else:
        # If the last column is not an image, check if it's the 'State-owned' span
        state_owned_span = last_column_data.find('span', {'class': 'table-yes2'})
        if state_owned_span:
            last_column_value = state_owned_span.text.strip()
        else:
            last_column_value = last_column_data.text.strip()

    # Extracting data from the rest of the columns (td tags) (Excluding the last column)
    other_data = [data.text.strip() for data in row_data[:-1]]

    # Combining rank and other data into a single list
    world_table_data = [rank] + other_data + [last_column_value]

    #print(world_table_data)

    length = len(df)
    df.loc[length] = world_table_data

In [151]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,State-owned
0,1,Walmart,Retail,"$611,289","$11,680","2,100,000",United States,No
1,2,Saudi Aramco,Oil and gas,"$603,651","$159,069","70,496",Saudi Arabia,Yes
2,3,State Grid Corporation of China,Electricity,"$530,009","$8,192","870,287",China,Yes
3,4,Amazon,Retail,"$513,983","âˆ’$2,722","1,541,000",United States,No
4,5,Vitol,Commodities,"$505,000","$15,000","1,560",Switzerland,No
5,6,China National Petroleum Corporation,Oil and gas,"$483,019","$21,080","1,087,049",China,Yes
6,7,China Petrochemical Corporation,Oil and gas,"$471,154","$9,657","527,487",China,Yes
7,8,ExxonMobil,Oil and gas,"$413,680","$55,740","63,000",United States,No
8,9,Apple,Electronics,"$394,328","$99,803","164,000",United States,No
9,10,Shell,Oil and gas,"$386,201","$20,120","93,000",United Kingdom,No
10,11,UnitedHealth Group,Healthcare,"$324,162","$20,120","400,000",United States,No
11,12,CVS Health,Healthcare,"$322,467","$4,149","259,500",United States,No
12,13,Trafigura,Commodities,"$318,476","$6,994","12,347",Singapore,No
13,14,China State Construction Engineering,Construction,"$305,885","$4,234","382,492",China,Yes
14,15,Berkshire Hathaway,Financials,"$302,089","âˆ’$22,82","383,000",United States,No
15,16,Volkswagen Group,Automotive,"$293,685","$15,233","675,805",Germany,No
16,17,Uniper,Electricity,"$288,309","âˆ’$19,96","7,008",Germany,Yes
17,18,Alphabet,Information technology,"$282,836","$59,972","190,234",United States,No
18,19,McKesson,Healthcare,"$276,711","$3,560","48,000",United States,No
19,20,Toyota,Automotive,"$274,491","$18,110","375,235",Japan,No
20,21,TotalEnergies,Oil and gas,"$263,310","$20,526","101,279",France,No
21,22,Glencore,Commodities,"$255,984","$17,320","81,284",Switzerland,No
22,23,BP,Oil and gas,"$248,891","âˆ’$2,487","67,600",United Kingdom,No
23,24,Chevron,Oil and gas,"$246,252","$35,465","43,846",United States,No
24,25,AmerisourceBergen,Healthcare,"$238,587","$1,699","41,500",United States,No
25,26,Samsung Electronics,Electronics,"$234,129","$42,398","270,372",South Korea,No
26,27,Costco,Retail,"$226,954","$5,844","304,000",United States,No
27,28,Foxconn,Electronics,"$222,535","$4,751","767,062",Taiwan,No
28,29,Industrial and Commercial Bank of China,Financials,"$214,766","$53,589","427,587",China,Yes
29,30,China Construction Bank,Financials,"$202,753","$48,145","376,682",China,Yes
30,31,Microsoft,Information technology,"$198,270","$72,738","221,000",United States,No
31,32,Stellantis,Automotive,"$188,888","$17,669","272,367",Netherlands,No
32,33,Agricultural Bank of China,Financials,"$187,061","$38,524","452,258",China,Yes
33,34,Ping An Insurance,Financials,"$181,566","$12,454","344,223",China,No
34,35,Cardinal Health,Healthcare,"$181,364",âˆ’$933,"46,035",United States,No
35,36,Cigna,Healthcare,"$180,516","$6,668","70,231",United States,No
36,37,Marathon Petroleum,Oil and gas,"$180,012","$14,516","17,800",United States,No
37,38,Phillips 66,Oil and gas,"$175,702","$11,024","13,000",United States,No
38,39,Sinochem,Chemicals,"$173,834",â€“$1,"220,760",China,Yes
39,40,China Railway Engineering Corporation,Construction,"$171,669","$2,035","314,792",China,Yes
40,41,Valero Energy,Oil and gas,"$171,189","$11,528","9,743",United States,No
41,42,Gazprom,Oil and gas,"$167,832","$17,641","468,000",Russia,Yes
42,43,Cargill,Conglomerate,"$165,000",...,"155,000",United States,No
43,44,China National Offshore Oil Corporation,Oil and gas,"$164,762","$16,988","81,775",China,Yes
44,45,China Railway Construction Corporation,Construction,"$163,037","$1,800","342,098",China,Yes
45,46,Baowu,Steel,"$161,698","$2,493","245,675",China,Yes
46,47,Schwarz Gruppe,Retail,"$159,800",...,"575,000",Germany,No
47,48,Mitsubishi Group,Conglomerate,"$159,371","$8,723","79,706",Japan,No
48,49,Ford Motor Company,Automotive,"$158,057","âˆ’$1,981","173,000",United States,No
49,50,Mercedes-Benz Group,Automotive,"$157,403","$15,252","168,797",Germany,No

In [ ]:
df.to_csv('world_table.csv', index=False)